@import models.domain.{Car, CarBrand, CarModel}
@import play.mvc.Http.Request
@(carForm: Form[Car], brands: Seq[CarBrand], models: Seq[CarModel])(implicit request: Request, messages: play.i18n.Messages)

    @helper.inputText(carForm("mileage"), Symbol("_label") -> "Пробег (км)")
    @helper.inputText(carForm("price"), Symbol("_label") -> "Цена (руб)")
    @helper.inputText(carForm("productionYear"), Symbol("_label") -> "Год производства")

    <div class="form-group">
        <label for="brand_id">Марка:</label>
        <select class="form-control" name="brand_id" id="brand_id">
            @for(brand <- brands) {
                <option value="@brand.getId"
                @if(carForm.value.isPresent && carForm.get.getBrand != null
                        && Objects.equals(brand.getId, carForm.get.getBrand.getId)) {selected}
                >
                    @brand.getName (@brand.getCountry)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="model_id">Модель:</label>
        <select class="form-control" name="model_id" id="model_id">
            @for(model <- models) {
                <option value="@model.getId"
                @if(carForm.value.isPresent && carForm.get.getModel != null
                        && Objects.equals(model.getId, carForm.get.getModel.getId)) {selected}
                >
                @model.getName (c @model.getProductionYearStart по @model.getProductionYearEnd)</option>
            }
        </select>
    </div>
