@import models.domain.CarModel
@import play.mvc.Http.Request
@import views.html.partials._carModelsFormFields
@(carModelForm : Form[CarModel], carModels: Seq[CarModel])(implicit request: Request, messages: play.i18n.Messages)

@layout("Модели машин") {

    <div class="row">
        <div class="col-sm-4">
            <h2>Добавление новой Модели машины</h2>

            @helper.form(action = routes.CarModelsController.save()) {
                @_carModelsFormFields(carModelForm)
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Создать</button>
            }
        </div>

        <div class="col-sm-8">
            <h2>Список моделей машин</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Год начала произвосдтва</th>
                        <th>Год окончания произвосдтва</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                @for(model <- carModels) {
                    <tr>
                        <td>@model.getName</td>
                        <td>@model.getProductionYearStart</td>
                        <td>@model.getProductionYearEnd</td>
                        <td><button class="btn btn-primary btn-sm" onclick="sendDeleteRequest(
                                '@routes.CarModelsController.delete(model.getId)',
                                '@routes.CarModelsController.findAll()')">Удалить</bUtton>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
}