@import models.domain.CarBrand
@import play.mvc.Http.Request
@import views.html.partials._carBrandsFormFields
@(carBrandForm: Form[CarBrand], carBrands: Seq[CarBrand])(implicit request: Request, messages: play.i18n.Messages)

@layout("Марки машин") {

    <div class="row">

        <div class="col-sm-4">
            <h2>Добавление новой Марки машины</h2>

            @helper.form(action = routes.CarBrandsController.save()) {
                @_carBrandsFormFields(carBrandForm)
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Создать</button>
            }
        </div>

        <div class="col-sm-8">
            <h2>Список марок машин</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Страна</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                @for(brand <- carBrands) {
                    <tr>
                        <td>@brand.getName</td>
                        <td>@brand.getCountry</td>
                        <td><button class="btn btn-primary btn-sm" onclick="sendDeleteRequest(
                                '@routes.CarBrandsController.delete(brand.getId)',
                                '@routes.CarBrandsController.findAll()')">Удалить</button></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}