@import models.domain.{Car, CarBrand, CarModel}
@import play.mvc.Http.Request
@(carForm : Form[Car], brands: Seq[CarBrand], models: Seq[CarModel])(implicit request: Request, messages: play.i18n.Messages)
@import views.html.partials._carsFormFields

    @header = {
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    }

    @footer = {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    }

@layout("Добавление новой машины", header, footer) {
    <h1>Добавление новой машины</h1>

    @helper.form(action = routes.CarsController.save()) {
       @_carsFormFields(carForm, brands, models)
       <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Создать</button>
   }
}