@import models.domain.{Car, CarBrand, CarModel}
@import play.data.Form
@import play.mvc.Http.Request
@import views.html.partials._carsFormFields
@(carForm : Form[Car], brands: Seq[CarBrand], models: Seq[CarModel])(implicit request: Request, messages: play.i18n.Messages)

@header = {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}

@footer = {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}

@layout("Редактирование", header, footer){
    <h1>Редактирование</h1>

    @helper.form(action = routes.CarsController.update(carForm.get.getId)) {

        @_carsFormFields(carForm, brands, models)

        <button class="btn btn-success" type="submit">Сохранить</button>
    }
}