@import models.domain.Car

@import java.math.RoundingMode
@(cars: Seq[Car])

@layout("Машины с пробегом") {

    <h2>Список машин</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Год выпуска</th>
                <th>Пробег</th>
                <th>Цена</th>
                <th>Редактировать</th>
            </tr>
        </thead>
        <tbody>
        @for(car <- cars) {
            <tr>
                <td><a class="btn btn-link" href="@routes.CarsController.findById(car.getId)">
                @if(car.getModel == null) {
                    -
                } else {
                    @car.getModel.getName
                }</a></td>
                <td>@car.getProductionYear</td>
                <td>@car.getMileage</td>
                <td>@if(car.getPrice != null) {
                    @car.getPrice.setScale(2, RoundingMode.HALF_DOWN).toString
                } else {
                    -
                }</td>
                <td><a class="btn btn-primary btn-sm" href="@routes.CarsController.edit(car.getId)">Редактировать</a></td>
            </tr>
        }
        </tbody>
    </table>
}