@import models.domain.Car
@import java.math.RoundingMode
@(car: Car)

@layout("Выбранная машина " + car.getId) {

    <h2>Выбранная машина @car.getId</h2>

    @if(car.getBrand != null) {
        <div style="border: black solid 1px; padding: 5px">
            <p>Марка</p>
            <p style="padding-left: 25px">Наименование : @car.getBrand.getName</p>
            <p style="padding-left: 25px">Страна : @car.getBrand.getCountry</p>
        </div>
    }
    @if(car.getModel != null) {
        <div style="border: black solid 1px; padding: 5px; margin-top: 10px">
            <p>Модель</p>
            <p style="padding-left: 25px">Наименование : @car.getModel.getName</p>
            <p style="padding-left: 25px">Год начала производства : @car.getModel.getProductionYearStart</p>
            <p style="padding-left: 25px">Год окончания производства : @car.getModel.getProductionYearEnd</p>
        </div>
    }

    <p>Год производства: @car.getProductionYear</p>
    <p>Пробег: @car.getMileage км.</p>
    <p>Цена: @if(car.getPrice != null) {@car.getPrice.setScale(2, RoundingMode.HALF_DOWN).toString руб.} else {-}</p>

    <a class="btn btn-primary" href="@routes.CarsController.edit(car.getId)">Редактировать</a>

    <button class="btn btn-danger" onclick="
            sendDeleteRequest('@routes.CarsController.delete(car.getId)',
                    '@routes.CarsController.findAll()')">Удалить запись</button>
}
